.background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 1400vh;
    width: 1300vw;
    background: url('Collage.png') repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    animation: diagonal 60s linear infinite;
}
@keyframes diagonal {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-3840px, -4320px, 0);
    }
}

.navBar {
    top: 1vh;
    left: 1vw;
    position: fixed;
    z-index: 10;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navBar a:hover {
    background-color: gray;
    color: black;
}

.bulletin {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px groove white;
    background-color: black;
    color: white;
    text-align: center;
    overflow: auto;
}
.bulletin h1{
    color: lightpink;
}
#help-header {
    color: turquoise;
}

.playlistsHeader {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    text-align: center;
    color: lightpink;
    background-color: black;
    border: 3px groove white;
}
.playlistParagraph {
    position: relative;
    z-index: 1;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: black;
    border: 3px groove white;
}
.playlistEmbed {
    position: relative;
    z-index: 1;
    border-radius:12px;
}

.songParagraph {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: black;
    border: 3px groove white;
    width: 60vw;
    margin: 0 auto;
}
.songParagraph a {
    font-size: 24px;
    margin-top: 5.5vh;
    justify-content: center;
}
.songParagraph audio {
    width: 50vw;
}

.downloadToolBox {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    background-color: black;
    border: 3px groove white;
    width: 75vw;
    margin-left: 12.5vw;
    font-size: 24px;
}
.downloadInstructions {
    position: relative;
    z-index: 1;
    text-align: center;
    color: lightpink;
    background-color: black;
    border: 3px groove white;
    width: 75vw;
    margin-left: 12.5vw;
    font-size: 24px;
}

.dropbox-embed{
    position: relative;
    z-index: 1;
}
